:root {
    --primary-color: rgb(118, 142, 118);
    --primary-hover-color: rgb(150, 172, 161);
  }
  button {
    position: relative;
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin: 8px;
    transition: background 0.3s;
    width: 30%;
  }
  
  button:hover {
    background: var(--primary-hover-color);
  }
  
  .buttonContainer {
    justify-content: center;
    padding: 70px;
  }